.body, h1, h2, h3{
    margin: 0;
}
.body{
    background-color: gray;
}
.main{
    
}
.header{
    background-color: whitesmoke;
}
.logo{
    padding: 5px;
    width: fit-content;
    color: whitesmoke;
    background-color: red;
    border-radius: 10px;
}
.h2{
    color: red;
}
.header-wrapper{
    padding: 10px 0;
    width: 1200px;
    margin: 0 auto;
}
.section-base{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 20px;
}
.autos-text{
    width: 50%;
}
.crew-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}