.body, h1, h2, h3, p{
    margin: 0;
}
.main{
    font-family: 'inter';
    background-color: #F0F4E3;
}
.h2{
    color: red;
}
.pageWrapper{
    background-color: #F0F4E3;
    width: 1030px;
    margin: auto;
}
.pageContainer{
    position: relative;
}
.leftColumn{
    position: absolute;
    width: 164px;
    top: 0;
    left: 19px;
    height: 100%;
    background-color: #DDECAD;
    z-index: 0;
}
.rightColumn{
    position: absolute;
    width: 76px;
    top: 0;
    right: 7px;
    height: 100%;
    background-color: #DDECAD;
    z-index: 0;
}
.sectionsWrapper{
    position: relative;
    padding: 53px 18px 23px 34px;
    display: flex;
    gap: 39px 0;
    flex-direction: column;
    z-index: 1;
}
.section-base{
    border-radius: 25px;
    padding: 18px 30px;
    display: flex;
    flex-wrap: wrap;
    width: 918px;
    background-color: #dfdfdf;
}
.logoBlock{
    margin-top: 31px;
    width: 22%;
    font-family: 'khula';
    font-weight: 600;
    line-height: 20px;
}
.logoText{
    margin-top: 25px;
}
.logoPhotoWrapper{
    position: relative;
}
.logoPhoto{
    position: absolute;
    top: -102px;
    left: 90px;
}
.about{
    justify-content: space-between;
}
.aboutPhotoWrapper{
    position: relative;
}
.aboutPhoto{
    position: absolute;
    top: -44px;
    left: 32px;
}
.aboutText{
    width: 62%;
    line-height: 14.5px;
    font-size: 13px;
    margin-top: 15px;
    text-indent: 12px;
}
.aboutPar{
    text-indent: 36px;
    margin-top: 17px;
}
.infoText{
    line-height: 14.5px;
    font-size: 14px;
    width: 63%;
    margin-top: 7px;
}
.infoList{
    list-style: none;
    padding: 0;
    margin: 16px 0 0 0;
}
.infoListItem{
    margin-bottom: 16px;
}
.infoPhotoWrapper{
    position: relative;
}
.infoPhoto1{
    position: absolute;
    top: 17px;
    z-index: 1;
    left: 11px;
}
.infoPhoto2{
    position: absolute;
    bottom: 34px;
    left: 165px;
    z-index: 2;
}
.infoPhoto3{
    position: absolute;
    top: 56px;
    left: 20px;
    z-index: 0;
}
.infoPar{
    margin-top: 15px;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form{
    width: 30%;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0;
}
.form-input{
    display: flex;
    flex-direction: column;
}