.body, h1, h2, h3{
    margin: 0;
}
.body{
    background-color: gray;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: whitesmoke;
}
.logo{
    padding: 5px;
    width: fit-content;
    color: whitesmoke;
    background-color: red;
    border-radius: 10px;
}
.h2{
    color: red;
}
.header-wrapper{
    padding: 10px 0;
    width: 1200px;
    margin: 0 auto;
}
.section-base{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 20px;
}
.autos-text{
    width: 50%;
    padding-top: 5%;
    font-weight: 700;
    font-size: 18px;
}
.crew-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crew-card-text{
    padding: 10px;
}
.info-section{
    display: flex;
    padding: 5px auto;
    justify-content: center;
}
.info{
    border: 2px solid gray;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.deliveries{
    display: flex;
    flex-direction: column;
}
.deliveries-in-progress, .deliveries-complete{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deliveries-list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 0 20px;
}
.delivery-card{
    display: flex;
    flex-direction: column;
}
.autos-in-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form{
    width: 30%;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0;
}
.form-input{
    display: flex;
    flex-direction: column;
}